extends layout

block content
  div(id="root" style="width: 280px; margin: 40px auto; padding: 10px;")

  script.
    var lock = new Auth0Lock('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_DOMAIN}',
      {
        configurationBaseUrl: 'https://cdn.auth0.com',
        autoclose: true,
        closable: false,
        auth: {
          redirect: true,
          redirectUrl: '#{env.APP_BASE_URL}' + '#{env.AUTH0_CALLBACK_URL}',
          responseType: 'code',
          sso: true,
          params: {
            scope: '#{env.SCOPE}',
            audience: '#{env.AUDIENCE}'
          }
        }
      });
    lock.show();
