extends layout

block content
  br
  .w3-container
    .w3-card-4.w3-center(style="padding: 15px;")
      if showProfileForm
        You need to complete your profile by providing Full Name and Age
        div(id="root" style="width: 280px; margin: 40px auto; padding: 10px;")

        #embedded-completeprofile-customui.container
          .form-signin
            form#updateUser(name="updateUserData", action="/api/updateuser", method="post")
              h2.form-signin-heading Complete your Profile
              label.sr-only(for='fullName') Name
              input#fullName.form-control(type='text', placeholder='Full Name', required='', autofocus='')
              label.sr-only(for='userAge') Age
              input#userAge.form-control(type='text', placeholder='Age', required='', autofocus='')
              button#embedded-completeprofile-button.btn.btn-lg.btn-primary.btn-block(type='Submit') Update

      else
        img(src=user.picture)
        p Welcome #{user.nickname}
          div
            button(id="check-session") Check Session
            button(id="get-profile") Get Profile
            button(id="get-contacts") List Contacts
            button(id="get-appointments") List Appointments
            div(id="results")
              pre
  script.

     $(function () {

                

              $('#check-session').on('click', function(e) {
                e.preventDefault();
                window.location = "#{env.APP_BASE_URL}/api/session";
              });

              $('#get-profile').on('click', function(e) {
                e.preventDefault();
                $.ajax({
                  url: "#{env.APP_BASE_URL}/api/userinfo",
                  method: "GET",
                  success: function (data) {
                    $('#results pre').text(JSON.stringify(data, null, 2))
                  }
                });
              });

              $('#get-appointments').on('click', function(e) {
                e.preventDefault();
                $.ajax({
                  url: "#{env.APP_BASE_URL}/api/appointments",
                  method: "GET",
                  success: function (data) {
                    $('#results pre').text(JSON.stringify(data, null, 2))
                  }
                });
              });

              $('#get-contacts').on('click', function(e) {
                e.preventDefault();
                $.ajax({
                  url: "#{env.APP_BASE_URL}/api/contacts",
                  method: "GET",
                  success: function (data) {
                    $('#results pre').text(JSON.stringify(data, null, 2))
                  }
                });
              });
      });